<div class="border">
    <div class="row" style="--bs-gutter-x: 0rem">
        <h3 class="text-white">Resumo do Pedido</h3>
        <hr class="whiteH1">
    </div>
    <div class="row" style="--bs-gutter-x: 0rem">
        <label class="text-white">Itens do pedido</label>
        <div *ngFor="let produto of getProdutos()" class="row">
            <div class="col">
                <div class="text-white">{{produto.nome}}</div>
            </div>
            <div class="col">
                <div class="text-white">{{produto.preco.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}}</div>
            </div>
        </div>
    </div>
    <hr class="whiteH1">
    <div class="row" style="--bs-gutter-x: 0rem">
        <label class="text-white">Total</label>
        <br>
    </div>
    <div class="row" style="--bs-gutter-x: 0rem">
        <label class="text-white mt-2" for="parcelas">Parcelas</label><br>
        <select [(ngModel)]="parcelaSelecionada" name="parcelas" style="width: 50px; margin-left: 3%; height: 1.5rem;" class="form-select">
            <option style="width: 25rem;" *ngFor="let parcela of parcelas" [value]="parcela">{{parcela}}</option>
        </select>
    </div>
    <div class="row grey" style="--bs-gutter-x: 0rem">
        <label class="text-white">{{parcelaSelecionada}} x de {{getValorParcelado().toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}} sem juros</label>
    </div>
</div>