<html>
    <body>
        <div class="row">
            <div class="col-1"><br></div>
            <div class="col-10">
                <div class="row"><br><br></div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row">
                            <h1 class="white titulo">Sobre nós</h1>
                        </div>
                        <div class="row"><br></div> 
                        <div class="row">
                            <div class="descricao">
                                <p class="white"> Esse site foi construído por um grupo de alunos estudantes do curso de Ciências da
                                    computação. Utilizando os conteúdos aprendidos nas aulas das disciplinas:
                                    Usabilidade, desenvolvimento web, mobile e jogos;
                                    Sistemas distribuídos e mobile;
                                    para desenvolver o projeto de unidade curricular.
                                    O objetivo é desenvolver um e-commerce.                                    
                                </p>
                            </div>                        
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>


                <div class="row"><br><br></div>                
                <div class="row">
                    <div class="col">
                        <div class="foto-integrante">
                            <img src="../../../assets/integrantes/gustavo.jpeg"
                                alt="Gustavo Navarro Vilela">
                        </div>
                        <div class="dados-integrante white">
                            <h2>Gustavo Navarro Vilela</h2>
                            <div>
                                <p>Estudante</p>
                                <p>Ciência da Computação</p>
                                <p>7° Semestre</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="foto-integrante">
                            <img src="../../../assets/integrantes/gustavoAlbuquerque.jpeg"
                                alt="Gustavo da Silva Albuquerque">
                        </div>
                        <div class="dados-integrante white">
                            <h2>Gustavo Albuquerque</h2>
                            <div>
                                <p>Estudante</p>
                                <p>Ciência da Computação</p>
                                <p>7° Semestre</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="foto-integrante">
                            <img src="../../../assets/integrantes/marcelo.jpeg" 
                                alt="Marcelo de Almeida">
                        </div>
                        <div class="dados-integrante white">
                            <h2>Marcelo de Almeida</h2>
                            <div>
                                <p>Estudante</p>
                                <p>Ciência da Computação</p>
                                <p>7° Semestre</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="foto-integrante">
                                <img src="../../../assets/integrantes/eduardo.jpg" 
                                    alt="Eduardo Chagas Fernandes de Sousa">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <div class="dados-integrante white">
                                    <h2>Eduardo Chagas</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Ciência da Computação</p>
                                        <p>7° Semestre</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="foto-integrante">
                                <img src="../../../assets/integrantes/roney.jpg" 
                                    alt="Roney Santos Silva">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-9">
                                <div class="dados-integrante white">
                                    <h2>Roney Santos Silva</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Ciência da Computação</p>
                                        <p>7° Semestre</p>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                        
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="foto-integrante">
                                <img src="../../../assets/integrantes/vinicius.jpg"
                                    alt="Vinícius Marques da Silva">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-9">
                                <div class="dados-integrante white">
                                    <h2>Vinícius Marques</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Ciência da Computação</p>
                                        <p>8° Semestre</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="foto-integrante">
                                <img src="../../../assets/integrantes/viniciusSoares.jpeg"
                                    alt="Vinicius Soares de Oliveira">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-9">
                                <div class="dados-integrante white">
                                    <h2>Vinicius Soares</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Ciência da Computação</p>
                                        <p>7° Semestre</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>

            </div>

            </div>
            <div class="col-1"><br></div>
    </body>
</html>