html,
body {
  height: 100%;
  height: 60.55rem;
  /* background-image: url(../login/cyberpunk2077.jpg);
    background-size: cover; */
  background-image: linear-gradient(-60deg, #080427 30%, #211e3d 30%);
}

.container {
  margin-top: 5%;
  max-width: 1000px;
}

.white {
  color: #fdfdfd;
}

.titulo {
  text-align: center;
}

.descricao {
  background-color: rgba(250, 235, 215, 0.158);
  text-align: center;
  font-size: 17px;
}

.foto-integrante {
  display: flex;
  justify-content: center;
}

.foto-integrante img {
  max-width: 250px;
  border-radius: 100%;
  align-self: center;
}
