<!-- ENDEREÇO(Endpoint) /pagamento -->
<html>
    <body>
        <div class="d-flex flex-wrap justify-content-center align-items-center">
            <div class="col" *ngIf="!esconderDescricao">
                <div class="row"><br><br></div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="row">
                            <h1 class="text-white">Selecione um método de pagamento abaixo: </h1>
                        </div>
                        <div *ngIf="!esconderMetodos" class="row">
                            <p class="opcoes" (click)="mostrarCartao()" style="cursor: pointer;">Cartão de Crédito</p>
                            <p routerLink="/pagamento/boleto" class="opcoes" (click)="mostrarBoleto()" style="cursor: pointer;">Boleto bancário</p>
                            <p class="opcoes" (click)="mostrarPix()" style="cursor: pointer;">PIX</p>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div> 
                <div class="row"><br></div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 border">
                        <div class="row" style="--bs-gutter-x: 0rem">
                            <h3 class="text-white">Resumo do Pedido</h3>
                            <hr class="whiteH1">
                        </div>
                        <div class="row" style="--bs-gutter-x: 0rem">
                            <label class="text-white">Itens do pedido</label>
                            <div *ngFor="let produto of getProdutos()" class="row">
                                <div class="col">
                                    <div class="text-white">{{produto.nome}}</div>
                                </div>
                                <div class="col">
                                    <div class="text-white">{{produto.preco.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}}</div>
                                </div>
                            </div>
                        </div>
                        <hr class="whiteH1">
                        <div class="row" style="--bs-gutter-x: 0rem">
                            <label class="text-white">Forma de pagamento</label>
                            <div class="text-white">Cartão de Crédito</div>>
                        </div>
                        <div class="row" style="--bs-gutter-x: 0rem">
                            <label class="text-white">Tempo de processamento</label>
                            <div class="text-white">Até 1 dia útil</div>
                            <hr class="whiteH1">
                        </div>
                        <div class="row grey" style="--bs-gutter-x: 0rem">
                            <label class="text-white">1 x de {{getValorTotal().toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}} sem juros</label>
                            <div class="text-white">Total a pagar <b class="text-white">{{getValorTotal().toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}}</b></div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>          

            <div class="container" *ngIf="!esconderCartao">
                <form>
                    <div class="text-white">
                        <p class="alterar" (click)="alterarPagameto()" style="cursor: pointer;">Alterar forma de pagamento</p>
                        <h3>Cartão de Crédito</h3>
                        <hr>
                    </div>

                        <div class="row" style="--bs-gutter-x: 0rem">
                            <div class="col-7">
                                <div class="row m-1">
                                    <label class="text-white" for="numeroCartao">Número do cartão</label>
                                    <input type="text" class="form-control" id="numeroCartao" required>
                                </div>
                                <div class="row">
                                    <div class="col m-1">
                                        <label class="text-white mt-2" for="validade">Validade</label>
                                        <input type="text" class="form-control" id="validade" placeholder="MM/AAAA" type="text" maxlength="7" pattern="^((0[1-9])|(1[0-2]))\/((2021)|(20[1-2][0-9]))$"
                                        required>
                                    </div>
                                    <div class="col m-1">
                                        <label class="text-white mt-2" for="cvv">Código de Segurança</label>
                                        <input type="text" class="form-control" id="cvv" placeholder="CVV" maxlength="3" pattern="[0-9]+$" required>
                                    </div>
                                </div>
                                <div class="row m-1">
                                    <label class="text-white" for="nome">Nome Completo</label>
                                    <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" required>
                                </div>
                                <div class="row m-1">
                                    <label class="text-white mt-2" for="cpf">CPF</label>
                                    <input type="text" class="form-control" id="cpf" placeholder="Digite seu CPF" maxlength="11" pattern="[0-9]+$" required>
                                </div>
                                <div class="row">
                                    <div class="col m-1">
                                        <label class="text-white mt-2" for="telefone">Telefone</label>
                                        <input type="text" class="form-control" id="telefone" placeholder="Apenas números com DDD" maxlength="11" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" required>
                                    </div>
                                    <div class="col m-1">
                                        <label class="text-white mt-2" for="dataDeNascimento">Data De Nascimento</label>
                                        <input type="text" class="form-control" id="dataDeNascimento" placeholder="DD/MM/AAAA" type="text" maxlength="10" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"
                                            required>
            
                                    </div>
                                </div>
                                <div class="row">
                                    
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4 border">
                                <div class="row" style="--bs-gutter-x: 0rem">
                                    <h3 class="text-white">Resumo do Pedido</h3>
                                    <hr class="whiteH1">
                                </div>
                                <div class="row" style="--bs-gutter-x: 0rem">
                                    <label class="text-white">Itens do pedido</label>
                                    <div *ngFor="let produto of getProdutos()" class="row">
                                        <div class="col">
                                            <div class="text-white">{{produto.nome}}</div>
                                        </div>
                                        <div class="col">
                                            <div class="text-white">{{produto.preco.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}}</div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="whiteH1">
                                <div class="row" style="--bs-gutter-x: 0rem">
                                    <label class="text-white">Forma de pagamento</label>
                                    <div class="text-white">Cartão de Crédito</div>>
                                </div>
                                <div class="row" style="--bs-gutter-x: 0rem">
                                    <label class="text-white">Tempo de processamento</label>
                                    <div class="text-white">Até 1 dia útil</div>
                                    <hr class="whiteH1">
                                </div>
                                <div class="row grey" style="--bs-gutter-x: 0rem">
                                    <label class="text-white">1 x de {{getValorTotal().toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}} sem juros</label>
                                    <div class="text-white">Total a pagar <b class="text-white">{{getValorTotal().toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}}</b></div>
                                    <hr class="whiteH1">
                                </div>
                                <div class="d-flex flex-wrap justify-content-center align-items-center">
                                    <button (click)="comprarCredito()"> Finalizar Compra 🔒</button>
                                </div>
                            </div>
                        </div>
                </form>
            </div>

            <div class="container" *ngIf="!esconderPix">
                <div class="text-white">
                    <p class="alterar" (click)="alterarPagameto()" style="cursor: pointer;">Alterar forma de pagamento</p>
                    <h3>Finalize o pagamento usando o Pix!</h3>
                    <hr>
                </div>

                    <form>
                        <div class="row">
                            <div class="col-8">
                                <div class="row text-white" style="--bs-gutter-x: 0rem">
                                    Você pode utilizar a câmera do seu celular para ler o QR Code abaixo ou copiar o código abaixo e pagar no aplicativo do seu banco:
                                </div>
                                <div class="row">
                                    <div class="col-2"></div>
                                    <div class="col-4">
                                        <img class="codigo" src="../../../assets/pagamento/PixQRcode.png">
                                    </div>
                                    <div class="col-4"></div>                                
                                </div>

                                <div class="row"><br></div>

                                <div class="row">
                                    <div class="col-10">
                                        <input type="text" class="form-control" id="qrCode" value="{{ qrCode }}">
                                    </div>
                                    <div class="col-2">
                                        <button (click)="copiarCodigo()">copiar</button>
                                    </div>                                
                                </div>
                            </div>
                            <div class="col-4 border">
                                <div class="row" style="--bs-gutter-x: 0rem">
                                    <h3 class="text-white">Resumo do Pedido</h3>
                                    <hr class="whiteH1">
                                </div>
                                <div class="row" style="--bs-gutter-x: 0rem">
                                    <label class="text-white">Itens do pedido</label>
                                    <div *ngFor="let produto of getProdutos()" class="row">
                                        <div class="col">
                                            <div class="text-white">{{produto.nome}}</div>
                                        </div>
                                        <div class="col">
                                            <div class="text-white">{{produto.preco.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}}</div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="whiteH1">
                                <div class="row" style="--bs-gutter-x: 0rem">
                                    <label class="text-white">Forma de pagamento</label>
                                    <div class="text-white">Cartão de Crédito</div>>
                                </div>
                                <div class="row" style="--bs-gutter-x: 0rem">
                                    <label class="text-white">Tempo de processamento</label>
                                    <div class="text-white">Até 1 dia útil</div>
                                    <hr class="whiteH1">
                                </div>
                                <div class="row grey" style="--bs-gutter-x: 0rem">
                                    <label class="text-white">1 x de {{getValorTotal().toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}} sem juros</label>
                                    <div class="text-white">Total a pagar <b class="text-white">{{getValorTotal().toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}}</b></div>
                                </div>
                            </div>
                        </div>
                    </form>

            </div>
        </div>
    </body>
</html>