html,
body {
  height: 90%;
  height: 60.55rem;
  /* background-image: url(../login/cyberpunk2077.jpg);
    background-size: cover; */
  background-image: linear-gradient(-60deg, #080427 30%, #211e3d 30%);
}

.container {
  margin-top: 5%;
  max-width: 1000px;
}

.whiteH1 {
  color: #fdfdfd;
}

.opcoes {
  color: #fdfdfd;
  background-color: rgb(41, 39, 63);
  border-radius: 4px;
  line-height: 2.5rem;
}

.opcoes:hover {
  border: solid;
  border-width: 2px;
  border-color: #fdfdfd;
}

.alterar {
  color: #fdfdfd;
}

.alterar:hover {
  text-decoration: underline;
}

.codigo {
  width: 17rem;
  height: 17rem;
}

.creditoAprovado1 {
  font-size: 20px;
}

.creditoAprovado2 {
  font-size: 30px;
}

.erroFraseCurta {
  border: solid;
  border-color: brown;
  color: cornsilk;
  width: 40%;
  font-size: 11px;
  margin-top: 0.5rem;
  margin-bottom: -2%;
  border-radius: 4%;
  text-align: center;
}

.erroFraseLonga {
  border: solid;
  border-color: brown;
  color: cornsilk;
  width: 65%;
  font-size: 11px;
  margin-top: 0.5rem;
  margin-bottom: -2%;
  border-radius: 4%;
  text-align: center;
}

.jogo-section {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(-60deg, #080427 30%, #211e3d 30%);
  color: #ffffff;
}

.btn-compra {
  width: 80%;
}

.btn-copiar {
  width: 100%;
}

.btn-concluir {
  width: 60%;
}
