<header class="menu">
    <ul class="menu-links">
        <li>
            <a routerLink="/"><img src="../../../assets/logo/Logo5.png" class="logo"></a>
        </li>
        <li><a routerLink="/">Jogos</a></li>
    </ul>
    <ul class="menu-busca">
        <li><input class="input-busca" type="text" placeholder="O que você quer jogar hoje?"></li>
    </ul>
    <ul class="menu-usuario">
        <li>
            <a class="menu-usuario-perfil" routerLink="/">
                <img src="../../../assets/avatar/cyberpunk-avatar.jpg" alt="avatar" class="avatar"> Gustavo
            </a>
        </li>
        <li><a routerLink="/">Carrinho</a></li>
    </ul>
</header>