<header class="header">
    <!-- TODO colocar ul li  -->
    <div class="menu-links">
        <span _ngcontent-ugc-c11="">Press Start Logo</span>
        <a href="">Home</a>
        <a href="">Jogos</a>
    </div>
    <input type="text" placeholder="O que você quer jogar hoje?" class="input-menu">
    <div class="menu-usuario">
        <div>
            <img src="../../../assets/avatar/cyberpunk-avatar.jpg" alt="avatar" class="avatar">
            <a>Gustavo</a>
        </div>
        <a href="">Carrinho</a>
    </div>
</header>