.jogo {
    padding: 1rem;
    max-width: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.jogo-card {
    width: 29%;
    height: auto;
    margin: 1rem;
}

.grid-jogos {
    height: auto;
    width: 100%;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(-60deg, #080427 30%, #211e3d 30%);
    padding-left: 5rem;
  }