
em {
	color: red;
}

.help-block {
	padding: 25px;
}

html {
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100%;
    background-image: url(../Imagens/bgmenu7.png);
	background-repeat: no-repeat background-position: center;
	background-size: cover;
}

#content {
	align-content: center; 
	flex : 1;
	padding: 20px;
	flex: 1;
}

#footer {
	padding: 20px;
}

#descricao {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#valor{
	padding-left: 7px;
	padding-right: 7px;
}

#excluir{
	padding-top: 11px;
}
