<html>
    <body>
        <div class="row"><br></div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <div class="row">
                    <h1 class="whiteH1">Meus Pedidos</h1>
                </div>
                <div class="row"><br></div>
                <div class="row">
                    <section *ngIf="pedidos">
                        <table>
                            <tr>
                                <th class="text-white">
                                    Numero
                                </th>
                                <th class="text-white">
                                    Produto
                                </th>
                                <th class="text-white">
                                    Valor (R$)
                                </th>
                                <th class="text-white">
                                    Data
                                </th>
                            </tr>
                            <tr id="{{pedido._id}}" *ngFor="let pedido of pedidos | slice:0:(more ? undefined : 10)">
                                <td class="text-white">
                                    {{pedido._id}}
                                </td>
                                <td class="text-white">
                                    {{pedido.produto}}
                                </td>
                                <td class="text-white">
                                    {{pedido.valor}}
                                </td>
                                <td class="text-white">
                                    {{pedido.data}}
                                </td>
                            </tr>
                        </table>
                    </section>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9"><button class="btn btn-lg btn-outline-success btn-jogo" (click)="more = !more">{{ more ? 'Mostrar Menos':'Mostrar Mais' }}</button></div>
                    </div>                    
                    <section *ngIf="!pedidos">
                        <div class="whiteH1"> Você ainda não possui nenhum pedido </div>
                    </section>
                </div>
            </div>
        </div>        
    </body>
</html>