<div class="body">
<header class="menu py-3">
  <div class="container">
    <div class="d-flex">
      <ul class="nav m-lg-auto">
        <li><a class="nav-link text-black">Press start</a></li>
        <li><a href="components/login/login.component.html" target="_self" class="nav-link text-black">Login</a></li>
        <li><a class="nav-link text-black d-none">Nome de usuário aqui</a></li>
        <li><a href="./components/cadastro/cadastro.component.html" class="nav-link text-black">Cadastro</a></li>
        <li><a href="./components/alterar-cadastro/alterar-cadastro.component.html" class="nav-link text-black">Meu perfil</a></li>
      </ul>
    </div>
  </div>
</header>

<h1 class="text-center text-white py-5">login, Cadastro e Alterar cadastro</h1>
</div>