<div class="body" [hidden]="mostrarMenu">
    <header class="menu py-3">
        <div class="container">
            <div class="d-flex">
                <ul class="nav m-lg-auto">
                    <li><a routerLink="/" class="nav-link text-black">Press start</a></li>
                    <li><a routerLink="/login" class="nav-link text-black" (click)="menu()">Login</a></li>
                    <li><a class="nav-link text-black d-none" (click)="menu()">Nome de usuário aqui</a></li>
                    <li><a routerLink="/cadastro" class="nav-link text-black" (click)="menu()">Cadastro</a></li>
                    <li><a routerLink="/alterar-cadastro" class="nav-link text-black" (click)="menu()">Meu
              perfil</a></li>
                </ul>
            </div>
        </div>
    </header>
    <h1 class="text-center py-5">login, Cadastro e Alterar cadastro</h1>
</div>
<!-- Conteudo das páginas aqui -->
<router-outlet>
</router-outlet>